# DATABASE_URL=postgres://admin:root@localhost:5432

APP_ENV=development

SERVER_PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=root
DATABASE_NAME=blog-platform-dev

REDIS_HOST=localhost
REDIS_PASSWORD=root
REDIS_PORT=6379

JWT_SECRET=JWT_SECRET_EXAMPLE
JWT_ACCESS_TOKEN_EXPIRATION_TIME=15m
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d
