{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": false,
            "tsx": false
        },
        "baseUrl": "./src",
        "target": "es2022",
        "paths": {
            "#/*": [
                "*"
            ]
        },
        "preserveAllComments": false,
        "keepClassNames": true,
        "loose": false
    },
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": true
    },
    "minify": true
}
